# pycharm conf
.idea

# project cache
cache

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

build/
dist/
pypi_upload.sh
erial_module.egg-info/

# word doc
~*.doc
